<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pupupon.androidtests"
    android:installLocation="preferExternal">

    <!--
    android:versionCode="1"
    android:versionName="1.0"
    -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="9"/> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- StartActivity Activity -->
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- LifeCycleTest Activity -->
        <activity
            android:label="Life Cycle Test"
            android:name=".LifeCycleTest"
            android:launchMode="singleTop"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <!-- SingleTouchTest Activity -->
        <activity
            android:label="Single Touch Test"
            android:name=".SingleTouchTest"
            android:launchMode="singleTop"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <!-- MultiTouchTest Activity -->
        <activity
            android:label="Multi Touch Test"
            android:name=".MultiTouchTest"
            android:launchMode="singleTop"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <!-- KeyTest Activity -->
        <activity
            android:label="Key Test"
            android:name=".KeyTest"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateAlwaysVisible"
            android:configChanges="orientation|screenSize" />
        <!-- AccelerometerTest Activity -->
        <activity
            android:label="Accelerometer Test"
            android:name=".AccelerometerTest"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <!-- AssetsTest Activity -->
        <activity
            android:label="Assets Test"
            android:name=".AssetsTest"
            android:launchMode="singleTop"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <!-- ExternalStorageTest Activity -->
        <activity
            android:label="External Storage Test"
            android:name=".ExternalStorageTest"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <!-- SoundPoolTest Activity -->
        <activity
            android:label="Sound Pool Test"
            android:name=".SoundPoolTest"
            android:launchMode="singleTop"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <!-- MediaPlayerTest Activity -->
        <activity
            android:label="Media Player Test"
            android:name=".MediaPlayerTest"
            android:launchMode="singleTop"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <!-- FullScreenTest Activity -->
        <activity
            android:label="Full Screen Test"
            android:name=".FullScreenTest"
            android:launchMode="singleTop"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <!-- RenderViewTest Activity -->
        <activity
            android:label="Render View Test"
            android:name=".RenderViewTest"
            android:launchMode="singleTop"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <!-- ShapeTest Activity -->
        <activity
            android:label="Shape Test"
            android:name=".ShapeTest"
            android:launchMode="singleTop"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <!-- BitmapTest Activity -->
        <activity
            android:label="Bitmap Test"
            android:name=".BitmapTest"
            android:launchMode="singleTop"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <!-- FontTest Activity -->
        <activity
            android:label="Font Test"
            android:name=".FontTest"
            android:launchMode="singleTop"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <!-- SurfaceViewTest Activity -->
        <activity
            android:label="Surface View Test"
            android:name=".SurfaceViewTest"
            android:launchMode="singleTop"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />


    </application>

</manifest>
